<%-include("./partials/header")-%>
    <div class="container">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Aww Snap</h4>
            <p>You might have reached, a page which is either not linked by the dev or URL is illegal</p>
            <hr>
            <p class="mb-0">For dev purpose only</p>
          </div>
    </div>
<%-include("./partials/footer")-%>