<%-include("./partials/header")-%>
<head>
    <link rel="stylesheet" href="/public/auth-form.css">
</head>
<div class="text-center">
    <form class="form-signin" action="/task" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Add Task Here</h1>
        <label for="inputName" class="sr-only">Task Name</label>
        <input type="text" class="form-control" placeholder="Task Name" name="task_name" required autofocus>
        <div class="input-grou" style="margin-top: 10px;">
          <label class="input-group-text" for="inputGroupSelect01">Select Workers</label>
        </div> 
        <select name="assignedworkers" multiple="multiple" required>
          <%workers.forEach(function(worker){%>
            <option value="<%=worker.email%>"><%=worker.email%></option>  
          <%})%>
        </select> 
        <label for="inputName" class="sr-only">Task description</label>
        <input type="text" class="form-control" placeholder="Task Description"  name="description" required autofocus>
        <label for="inputDate" class="sr-only">Task deadline</label>
        <input type="date" id="birthday" name="deadline" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
</div>
<%-include("./partials/footer")-%>